/*********************** Font Sizes ***********************/
body {
		font-size: 13px;
}

h2 {
	font-size: 2em;
}

h3 {
	font-size: 1.3em;
}

h4 {
	font-size: 1em;
}

.footer .footer-copy p {
	font-size: 0.7em;	
	line-height: .7em;
}

/*********************** End Font Sizes ***********************/

/*********************** Content Styles ***********************/

table.system-check-table {
	border: 1px solid #000;
	width: 100%;
}

	.confirmation {
		font-size: 14px;
		font-weight: bold;
	}

	.passCheck, .failCheck {
		display: inline-block;
		border: 1px solid #000;
		background-color: #fff;
		color: #000;
		line-height: 18px;
		width: 40px;
		text-decoration: none;
		font-size: 11px;
		font-weight: bold;
	}

	.passCheck {
		margin-right: 2px;
	}

	.failCheck {
		margin-left: 2px;
	}

	.fa {
		font-size: 16px;
	}

	.fa-check {
		color: #690;
	}

	.fa-times {
		color: #f00;
	}

	
	ol li {
		width: 220px;
		margin: 0 auto;
		text-align: left;
		line-height: 16px;
	}

	.record-text,
	.stop-text,
	.listen-text,
	.play-text {
		font-weight: bold;
	}

	.record-text {
		color: #f00;
	}

	.stop-text {
		color: #f90; 
	}

	.listen-text {
		color: #c3c;
	}

	.play-text {
		color: #690; 
	}

	.show {
		display: block;
	}

	.hide {
		display: none;
	}

	.installFlash,
	.upgradeFlash,
	.displayFlash {
		display: none;
	}

	#errorMessageDiv{
		color: #a81825;
		margin-left: 30px;
	}

/*********************** End Content Styles ***********************/

/*********************** begin header ***********************/

.header {
	background-color: #B0252E;
	height: 70px;
}

.header .container {
	padding: 0 6px;
}

.aappl-logo {
	width: 350px;
	margin-top: 14px;
}

/*********************** end header ***********************/

/*********************** begin footer ***********************/

.footer {
	background-color: #B0252E;
	color: #fff;
}

	.footer .container {
		padding: 14px 6px;
	}

	.footer .footer-col {
		float: left;
		margin-right: 12px;
	}

	.footer .lti-footer-logo {
		display: block;
		margin-top: 7px;
		width: 96px;
		height: 23px;
	}

/*********************** end footer ***********************/

/*set the width of the page */
/* applied to the header, content and footer */
.container {
	max-width: 960px;
	margin: 0 auto;
}

/* begin footer fix */
html, body {
    height: 100%;
}

.wrap {
    min-height: 100%;
    min-width: 960px;
}

.main {
    padding-bottom: 70px; /* footer height */
}

.footer {
	margin-top: -70px; /* negative value of footer height */
    min-width: 960px;
	height: 70px;
}
/* end footer fix */